body {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    margin: 0;
    text-align: center;
}

.header {
    width: 100%;
    height: 69px;
    display: block;
    background-color: black;
    position: fixed;
    border-bottom: 1px solid seashell;
    top: 0;
}

.logo {
    height: 50px;
    padding-left: 10px;
    float:left;
}
.navigation {
    float: right;
    height: 100%;
    margin: 0 auto;
}

.navigation a {
    height: 100%;
    display: table;
    float: left;
    padding: 0 20px; 
}

.navigation a li {
    display: table-cell;
    vertical-align: middle; 
    height: 100%;
    text-decoration: underline;  
    color: #FFFFFF; 
}

.mission-container {
    background-image: url('https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    height: 700px;
    max-width: 1200px;
    margin: 40px auto 40px auto;
    display: flex;
}
.text-over {
    width: 100%;
    margin: auto;
    background-color: black; 
}

.trend-container {
    display: inline-flex;
    max-width: 1000px;
    height: auto;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.trend img {
    height: 200px;
    width: 300px;
    padding: 10px 10px;
}

.banner {
    height: 500px;
    max-width: 1200px;
    margin: 40px auto auto auto;
    padding-top: 85px;
    background-image: url('https://content.codecademy.com/courses/freelance-1/unit-4/img-locations-background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.text-top {
    font-size: 43px;
    font-weight: bold;
    margin: 15px;
}

.box-container {
    max-width: 1050px;
    margin: 15px auto auto auto;
    display: flex;
    justify-content: space-between;
    opacity: 1;
}

.box {
    height: 300px;
    padding: 20px;
    margin-bottom: auto;
    flex-basis: 30%;
    box-sizing: border-box;
    background-color: black;
    opacity: 0.8;
}

footer {
    display: block;
    float: left;
    padding-left: 20px;
}